* {
font-family: arial;
}
body {
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.flex_column {
	flex-direction: column;
}
header {
	display: flex;
	justify-content: center;
	height: 120px;
}
.container {
	display: flex;
	justify-content: space-between;
	width: 990px;
}
.logo {
	display: flex;
	align-items: center;
}
.menu {
	display: flex;
	align-items: center;
}
nav ul,
nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul {
	display: flex;
}
nav a {
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
}
nav .active a,
nav a:hover {
	background-color: #39AAE1;
	color: #FFFFFF;
}

#banner {
	display: flex;
	justify-content: center;
	background-image: url('../img/img1.jpg');
	background-position: center;
	background-size: cover;
	height: 670px;
}
.column {
	flex-direction: column;
}
.banner_headline {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner_headline h1 {
	color: #FFFFFF;
	font-size: 70px;
	text-shadow: 0px 1px 0 #555555;
	margin: 0;
	padding: 0;
	max-width: 350px;
}
.banner_headline h2 {
	color: #FFFFFF;
	font-size: 21px;
	text-shadow: 0px 1px 0 #555555;
	margin: 0;
	padding: 0;
	max-width: 350px;
	margin-top: 30px;
}
.banner_options {
	height: 210px;
	display: flex;
}
.banner1,
.banner2,
.banner3 {
	flex: 1;
	color: #FFFFFF;
	padding: 20px;
}
.banner1 {
	background-color: #39AAE1;
}
.banner2 {
	background-color: #0079C7;
}
.banner3 {
	background-color: #2B4C99;
}
.banner_title {
	font-size: 21px;
}
.banner_desc {
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.banner_options a {
	display: inline-block;
	border: 1px solid #FFFFFF;
	padding: 5px;
	color: #FFFFFF;
	font-size: 14px;
	text-decoration: none;
}
.banner_schedule {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 13px;	
}
.banner_schedule1,
.banner_schedule2,
.banner_schedule3 {
	margin: 8px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
#general {
	display: flex;
	justify-content: center;
}
#general section {
	flex: 2;
}
#general aside {
	flex: 1;
}
.widget_title {
	margin-top: 30px;
	margin-bottom: 12px;
}
.widget_title_text {
	color: #000000;
	font-size: 21px;
	font-weight: bold;
}
.widget_title_bar {
	width: 50px;
	height: 3px;
	border-radius: 1px;
	background-color: #36A9E1;
	margin-top: 8px;
}
.departments {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.department1,
.department2,
.department3,
.department4,
.department5,
.department6 {
	height: 100px;
	width: 100px;
	background-color: #39AAE1;
	margin: 10px;
	border-radius: 10px;
}
.makeaa {
	display: flex;
	flex-direction: column;
	font-size: 13px;
}
.makeaa div {
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding-top: 5px;
	padding-bottom: 10px;
 	align-content: center;
 	line-height: 20px;
}
.makeaa img {
	width: 15px;
	height: 15px;
	margin-right: 10px;
}
article {
	flex: 1;
	min-width: 300px;
	margin-right: 10px;
	margin-bottom: 30px;
}
article a {
	text-decoration: none;
}
article .news_date {
	display: flex;
}
article .news_posted_at {
	background-color: #2B4C99;
	color: #FFFFFF;
	font-size: 12px;
	padding: 10px;
	margin-right: 2px;
}
article .news_comments {
	background-color: #39AAE1;
	color: #FFFFFF;
	font-size: 12px;
	padding: 10px;
}
article .news_thumb {
	margin-top: 30px;
}
article .news_thumb img {
	width: 100%;
	height: auto;
}
article .news_title {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 23px;
	color: #000000;
}
article .news_resume {
	font-size: 13px;
	color: #5C5C5C;
	line-height: 20px;
}

footer {
	display: flex;
	justify-content: center;
	background-color: #1E1E1E;
}
.footer_menu {
	display: flex;
}
.fm1, 
.fm2, 
.fm3 {
	flex: 1;
	color: #FFFFFF;
	padding: 20px;
}
.fm1 {
	background-color: #39AAE1;
}
.fm2 {
	background-color: #0079C7;
}
.fm3 {
	background-color: #2B4C99;
}
.footer_menu .fm_title{
	font-size: 20px;
	padding: 5px;
}
.footer_menu .fm_desc {
	font-size: 13px;
	padding: 5px;
}
.footer_area {
	display: flex;
}
.footer_area_item {
	flex: 1;
	color: #FFFFFF;
}
footer .widget_title_text {
	color: #FFFFFF;
}
.footer_copy {
	border-top: 1px solid #2C2C2C;
	height: 40px;
	line-height: 40px;
	color: #5C5C5C;
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.medicenter_clinic {
	font-size: 13px;
	color: #6E6D6E;
	flex-direction: column;
}
.medicenter_clinic div {
	padding-bottom: 10px;
	padding-top: 10px;
}
.medicenter_clinic a {
	color: #DADBDC;
}
.mc_contact {
	display: flex;
	justify-content: space-between;
}
.mc_contact div {
	flex: 1;
}
.social_networks img {
	width: 50px;
	height: 50px;
	padding-right: 5px;
}